<div class="row">
    <!-- options -->
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Options' | translate }}</div>
            <div class="panel-body">
                <div class="form-inline">
                    <!-- select -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="setCheckboxAll(true)">{{ 'Select all' | translate }}</button>
                        <button type="button" class="btn btn-default" ng-click="setCheckboxAll(false)">{{ 'Clear all' | translate }}</button>
                        <button type="button" class="btn btn-default" ng-click="setCheckboxAll('inverse')">{{ 'Inverse' | translate }}</button>
                    </div>
                    <!-- delete -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-show="multiDelEn()"
                            ng-click="deleteMultiSess()"><span class="glyphicon glyphicon-trash"></span>&nbsp;{{ 'Delete' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- session list-->
<div class="panel panel-default panel-remove-border-top">
    <div class="panel-body">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center"><input type="checkbox" ng-click="setCheckboxAll(MULSELCTL)" ng-model="MULSELCTL"/></th>
                    <th class="text-center">#</th>
                    <th class="text-center">{{ 'User Name' | translate }}</th>
                    <th class="text-center">{{ 'Session ID' | translate }}</th>
                    <th class="text-center">{{ 'Expire Time' | translate }}</th>
                    <th class="text-center">{{ 'Client IP' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in sess">
                    <td class="text-center"><input type="checkbox" ng-model="multiSelSess[x.id]" /></td>
                    <th class="text-center" scope="row">{{ $index + 1 }}</th>
                    <td class="text-center">{{ x.user }}</td>
                    <td class="text-center">{{ x.id }}</td>
                    <td class="text-center">{{ x.expire }}</td>
                    <td class="text-center"><span class="glyphicon glyphicon-asterisk" ng-show="{{ x.id == curToken}}"></span>{{ x.client }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
