
<!-- port conf -->
<div class="panel panel-default">
    <div class="panel-heading">
            <div class="panel-title">{{ 'Tacacs Server' | translate }}
                <!-- options -->
                <button style="float:right" type="button" class="btn btn-default" data-toggle="modal" data-target="#add_Tacas_Server" >
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;{{ 'Add Server' | translate }}
                </button>
                <!-- options end -->
            </div>              
    </div>
    <div class="panel-body">

        <!-- channel group table -->
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th class="text-center">{{ '#' | translate }}</th>
                    <th class="text-center">{{ 'Server Host' | translate }}</th>
                    <th class="text-center">{{ 'VRF' | translate }}</th>
                    <th class="text-center">{{ 'Port' | translate }}</th>                    
                    <th class="text-center">{{ 'Timeout' | translate }}</th>  
                    <th class="text-center">{{ 'Retries' | translate }}</th>
                    <th class="text-center">{{ 'Secret' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in server_list | filter : {'type': 'tacplus'}">
                    <th class="text-center">{{ $index + 1 }}</th>
                    <td class="text-center">{{ x.host }}</td>
                    <td class="text-center">{{ x.is_inband }}</td>
                    <td class="text-center">{{ x.port }}</td>
                    <td class="text-center">{{ x.timeout }}</td>
                    <td class="text-center">{{ x.retries }}</td>
                    <td class="text-center">{{ (x.secret.length!=0)?x.secret:((x.enc_secret.length!=0)?x.enc_secret:'N/A') }}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ 'Delete' | translate }}" ng-click="delTacasServer(x)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>           
                </tr>
            </tbody>
        </table>
        <!-- channel group table end -->
    </div>
</div>

<!--Global Configuration | Truncation   -->
<div class="modal fade" id="add_Tacas_Server" ng-init="method1 = 'none'; method2 = 'none' ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'Add' | translate }}</h4>
            </div>

            <div class="modal-body">
                <form id="AddTacasSrvModeForm" name="AddTacasSrvModeForm" class="form"  novalidate>
                  <table class="table table-condensed table-bordered">

                    <tr>
                        <th class="text-center col-md-6">{{ 'Server Host' | translate }}</th>
                        <td class="text-left col-md-6">
                            <select class="form-control" ng-model="srvVrfsel" ng-options="i for i in vrfIds"></select>
                            <br>
                            <div class="form-group" ng-class="{true: 'has-success', false: 'has-error'}[AddTacasSrvModeForm.serverHost.$valid]" >
                                <input type="text" name="serverHost" class="form-control" placeholder="A.B.C.D" ng-model="serverHost" ng-pattern="/^[a-zA-Z0-9|.:/]{1,63}$/" required />
                            </div>   
                        </td>
                    </tr>

                    <tr>
                        <th class="text-center col-md-6">{{ 'Key String' | translate }}</th>
                        <td class="text-left col-md-6">
                                <div class="col-md-6">
                                    <btn-switch switch-state="serverKeyEn" switch-on-change="serverKeyEnFun()" ></btn-switch>
                                </div>
                        </td>
                    </tr>  
					
					<tr ng-show="serverKeyEn==true">
                        <th class="text-center col-md-6">{{ 'Value' | translate }}</th>
                        <td class="text-left col-md-6">
                        <div class="form-group" ng-class="{true: 'has-success', false: 'has-error'}[AddTacasSrvModeForm.serverKey.$valid]">
                            <input type="text" name="serverKey" class="form-control" placeholder="server key-string" ng-pattern="/^[a-zA-Z0-9~!@#$^\&\*\(\)_\+\-\[\]|.:\>\<\;,]{1,63}$/" ng-model="serverKey"  required />
                        </div>
                        </td>
                    </tr>  

                  </table>
                </form>
                
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTacasServer()" ng-disabled="(serverKeyEn==true && AddTacasSrvModeForm.serverKey.$invalid) || AddTacasSrvModeForm.serverHost.$invalid " >
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;{{ 'OK' | translate }}
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;{{ 'Close' | translate }}
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
